<html>
<head>
<title>test</title>
  <link rel="stylesheet" href="static/chosen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="static/chosen.jquery.js" type="text/javascript"></script>
</head>
<body>
  <div id="fb-root"></div>
<script>
    function college(arg) {
      if (arg.length > 0) {
        for (var i = 0; i < arg.length; i++) {
        if (arg[i]["type"] == "College") {
          return arg[i]["school"]["name"];
          }
        }
      }
      return "no";
    }
    var appId = '1374555416100192';
    var siteRoot = '';

  window.fbAsyncInit = function() {
    FB.init({
      appId      : appId,
      channelURL : '///channel.html', // Channel File
      status     : true,
      cookie     : true,
      oauth      : true,
      xfbml      : true
    });
    $(document).trigger('fbload');
  };


  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=" + appId;
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));

  

   $(document).on(
    'fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
        //some code that requires the FB object
        //such as...
        FB.getLoginStatus(function(res){
            if( res.status == "connected" ){
                FB.api('/me', function(fbUser) {
                    // alert(college(fbUser["education"])  + " "  + fbUser["hometown"]["name"]);
                    $("#name").val(fbUser["name"]);
                  if (college(fbUser["education"]) != "no") {
                    $("#school").val(college(fbUser["education"]));
                    $("#school").prop("readonly", true);
                  }
                  
                  $("#email").val(fbUser["email"]);


                });
            }
        });

    }
);
</script>


<div class="fb-login-button" data-scope = "email, user_education_history" data-show-faces="true" data-width="200" data-max-rows="1">Start w/ Facebook</div>
  <h2>New Account</h2> 
  <form action="{{ url_for('results') }}" method=post>
    <p>
      Name:
      <input type=text id="name" name="name" placeholder="name">
    <p>
      Username:
      <input type=text name="username" placeholder="username">
    <p>Password:
    <p><input type=text  name = "password" placeholder="password"></input>
      Email:
      <p><input type=text id="email" name = "email" placeholder="email"></input>
        School:
      <p><input type=text id="school" name = "school" placeholder="University/College"></input>
    
      <div>
      <select data-placeholder="Skills" name="skills" style="width:350px;" class = "skills" multiple>
	<option value></option>
	<option>Java</option>
	<option>JavaScript</option>
	<option>C</option>
	<option>C++</option>
	<option>PHP</option>
	<option>HTML</option>
	<option>CSS</option>
	<option>Ruby</option>
	<option>Python</option>
	<option>Objective C</option>
      </select>
      </div>
      <input type=submit value="Create entry">
      <script type="text/javascript">

	$('.skills').chosen();

      </script>
  </form>
  <a href = "/signin"><h3>Login</h3></a>{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
 </body>
 </html>
