<html>
<head>
<title>test</title>
  <link rel="stylesheet" href="static/docsupport/style.css">
  <link rel="stylesheet" href="static/chosen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="static/chosen.jquery.js" type="text/javascript"></script>
</head>
<body>
  <h2>New Account</h2> 
  <form action="{{ url_for('results') }}" method=post>
    <p>
      Username:
      <input type=text name="username" value="username">
    <p>Password:
    <p><input type=text  name = "password" value="password"></input>
      Email:
      <p><input type=text  name = "email" value="email"></input>
    
      <div>
      <select data-placeholder="Skills" name="skills" style="width:350px;" class = "skills" multiple>
	<option value></option>
	<option>Java</option>
	<option>JavaScript</option>
	<option>C</option>
	<option>C++</option>
	<option>PHP</option>
	<option>HTML</option>
	<option>CSS</option>
	<option>Ruby</option>
	<option>Python</option>
	<option>Objective C</option>
      </select>
      </div>
      <input type=submit value="Create entry">
      <script type="text/javascript">

	$('.skills').chosen();

      </script>
  </form>
  <a href = "/signin"><h3>Login</h3></a>{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
 </body>
 </html>
