<html>
<head>
<title>Apployment | Signup</title>
  <link rel="stylesheet" href="../static/chosen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="../static/chosen.jquery.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
     <script src="http://stickyjs.com/jquery.sticky.js"></script>
</head>
<body>
     <div class="menu" style="margin-bottom: 0px;">
                    <a style="outline:none;" href={{ url_for('index') }}><img src="/static/newlogo.png" height="50" ></a>
                    <ul id="nav">
                    <li ><a >HOW IT WORKS</a></li>
                    <li ><a >SEARCH</a></li>
                    <li ><a href={{ url_for('signin') }}><div class="login">LOGIN</div></a></li>
                    <li ><a href={{ url_for('signup') }}> <div class="signup">GET STARTED</div></a></li>
                    </ul>
          </div>
          <script>

    $(function() {
      

    });

    function company() {
       $("#email").show();
      $("#password").show();
      $("#school").val("company");
      $("#name").show();
      $("#user").show();
      $("#type").val("company");
    }
    
    function developer() {
       $("#facebook").show();
       $("#type").val("developer");

    }

     
    function college(arg) {

      if (arg.length > 0) {
        for (var i = 0; i < arg.length; i++) {
        if (arg[i]["type"] == "College") {
          return arg[i]["school"]["name"];
          }
        }
      }
      return "no";
    }
    var appId = '1374555416100192';
    var siteRoot = '';

  window.fbAsyncInit = function() {
    FB.init({
      appId      : appId,
      channelURL : '///channel.html', // Channel File
      status     : true,
      cookie     : true,
      oauth      : true,
      xfbml      : true
    });
    
  };


  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=" + appId;
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));

  

    function fb(){
        //some code that requires the FB object
        //such as...

         FB.login(function(response) {
   if (response.authResponse) {
     FB.api('/me', function(fbUser) {
      
      $("#school").show();
       $("#email").show();
      $("#password").show();
      $("#sk").show();
      $("#name").show();
      $("#user").show();
      $("#facebook").remove();
       $("#name").val(fbUser["first_name"]);
       $("#lastname").val(fbUser["last_name"]);
       $("#email").val(fbUser["email"]);
                  if (college(fbUser["education"]) != "no") {
                    $("#school").val(college(fbUser["education"]));
                    $("#school").prop("readonly", true);}
                  else {
                    $("#error").text("You don't have school your school info in facebook. Please add it to your Facebook or login using LinkedIn");
                  }
                  
                  
                  
       
     });
   } else {
     $("#error").text('User cancelled login or did not fully authorize.');
   }
 }, {scope:'email,user_education_history'});;
  }


   
</script>
          <div class="page" style="height: 330px;">
  <div id="fb-root"></div>


<!-- <div class="fb-login-button" data-scope = "email, user_education_history" data-show-faces="true" data-width="200" data-max-rows="1">Start w/ Facebook</div> -->

<div style="margin-left: 30%;">
</br>
<div class="button btn-newBlue" style="height: 30px; width: 400px" id="facebook" onclick="fb()">Login with Facebook to validate your school</div></div> 
<div id="error">{{error}}</div>
  
  <form action=""  method=post id="signup" style="margin-left: 150px" enctype=multipart/form-data>
      <h2>Bio</h2>
      <input  class="form-login grayoutline green" type="text" style="width: 198px;" id="name" name="firstName" placeholder="First Name">
      <input  class="form-login grayoutline green" type="text" style= "width: 198px;" id="lastname" name="lastName" placeholder="Last Name">
    <p>
      <p><input class="form-login grayoutline green" type=text type="hidden" id="email" name = "email" placeholder="Email"></input>
    </div>

    <div style="margin-left: 150px;">
      <h2 style="margin-left: -120px;">User Info</h2>
    <p><input class="form-login grayoutline green" type=text  id="username" name = "username" placeholder="Username"></input> <p>
      <input class="form-login grayoutline green" type="password"  id="password" name = "password" placeholder="Password"> <p>
    <textarea  name="description" class="form-area" rows="5" maxlength = "200" placeholder="Profile description (Companies will be able to see this)." cols="50"></textarea>    

    </div>
    
      
      <input type="hidden" name = "type" id="type"></input>
      

      <div class="page2" style="height: 250px;">
        <h2>School</h2>
          <p><input class="form-login grayoutline green" type=text  id="school" name = "school" placeholder="University/College"></input>
          <p><input class="form-login grayoutline green half" type=text  id="year" name = "year" placeholder="Graduation Year"></input>
            <input class="form-login grayoutline green half" type=text  id="major" name = "major" placeholder="Major"></input>
            </div>


        <div style="margin-left: 150px;">
          <h2 style="margin-left: -120px;">Skills</h2>
      <span id="sk">
      <select data-placeholder="Skills" name="skills" style="width:350px;" class = "skills" id="skills" multiple>
<!-- 	<option value></option>
	<option>Java</option>
	<option>JavaScript</option>
	<option>C</option>
	<option>C++</option>
	<option>PHP</option>
	<option>HTML</option>
	<option>CSS</option>
	<option>Ruby</option>
	<option>Python</option>
	<option>Objective C</option> -->

  {%for x in options%}
  <option>{{x}}</option>
  {% endfor %}
      </select>
    </span> 
    
      <br /> <br/>
</div>
  <div class="page2" style="height: auto;">
    <h2>Experience</h2>
    <!-- Experience 1 -->
        <p><input class="form-login grayoutline green half" type=text  id="title1" name = "title1" placeholder="Job Title"></input>

          <input class="form-login grayoutline green half" type=text  id="company1" name = "company1" placeholder="Company"></input> <p>

           <textarea  name="expDescription1" class="form-area" style="height: 90px; width: 400px" rows="3" maxlength = "200" placeholder="Description of Job." cols="20"></textarea> 

           <br/><br/>

           <!-- Experience 2 -->
           <p><input class="form-login grayoutline green half" type=text   name = "title2" placeholder="Job Title"></input>

          <input class="form-login grayoutline green half" type=text  name = "company2" placeholder="Company"></input> <p>

           <textarea  name="expDescription2" class="form-area" style="height: 90px; width: 400px" rows="3" maxlength = "200" placeholder="Description of Job." cols="20"></textarea> 

           <br/><br/>
          <!--  Experience 3 -->
           <p><input class="form-login grayoutline green half" type=text  id="title1" name = "title3" placeholder="Job Title"></input>

          <input class="form-login grayoutline green half" type=text  id="company1" name = "company3" placeholder="Company"></input> <p>

           <textarea  name="expDescription3" class="form-area" style="height: 90px; width: 400px" rows="3" maxlength = "200" placeholder="Description of Job." cols="20"></textarea> 

               <!-- <p><input class="form-login grayoutline green half" type=text  id="title2" name = "title2" placeholder="Job Title"></input>

          <input class="form-login grayoutline green half" type=text  id="company2" name = "company2" placeholder="Company"></input>

            <input class="form-login grayoutline green half" style="font-family: 'roboto'; font-weight: 300; " type="date"  id="startdate2" name = "startdate2" placeholder="Start Date"></input> to 

              <input class="form-login grayoutline green half" style="font-family: 'roboto'; font-weight: 300; " type="date"  id="enddate2" name = "enddate2" placeholder="End Date"></input>

              <p><input class="form-login grayoutline green half" type=text  id="title3" name = "title3" placeholder="Job Title"></input>

          <input class="form-login grayoutline green half" type=text  id="company3" name = "company3" placeholder="Company"></input>

            <input class="form-login grayoutline green half" style="font-family: 'roboto'; font-weight: 300; " type="date"  id="startdate3" name = "startdate3" placeholder="Start Date"></input> to 

              <input class="form-login grayoutline green half" style="font-family: 'roboto'; font-weight: 300; " type="date"  id="enddate3" name = "enddate3" placeholder="End Date"></input> --> <br/>
             <span class ="signin-login green" id="upload" style="line-height:50px; text-align:center; width: 200; padding: 15px;"> Upload Resume:</span> Allowed extensions are .pdf, .doc, and .txt <p> <div id="filename"></div> <p> <input style="display:none" class = "file" type=file name=file>
  </div>
      <div style="text-align:center; margin-top: 15px;">
      <input class ="signin-login green" type=submit value="Create entry">
    </div>
      <script type="text/javascript">
$('#upload').click(function() {
    $('.file').click();
});
$('input[type=file]').bind('change', function() {
    var str = "";
    str = $(this).val();    

    $("#filename").text(str);
}).change();

	$('.skills').chosen();

      </script>
  </form>
 
  
 </body>
 </html>
